<nav class="navbar navbar-default" role="navigation"  ng-controller="NavbarCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="main">Town Landing Market</a>
        </div>
        <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="main">Home</a>
                </li>
                <li>
                    <a ui-sref="mission">Our Mission</a>
                </li>
                <li>
                    <a ui-sref="menu">Menu</a>
                </li>
                <li>
                    <a ui-sref="contact">Contact/Directions</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
